<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav>
        <div class="navbar container">
            <a href="/">
                <h2>NodeApp</h2>
            </a>
            <div class="lg-hide">
                <h2>NodeApp</h2>
                <ul>
                    <div class="btn-group">
                        <li><a href="/login" class="btn">Login</a></li>
                        <li><a href="/register" class="btn btn-rev">Register</a></li>
                    </div>
                </ul>
            </div>
            <div class="menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </nav>
    <main>
        <div class="wrapper container">
            <div class="form">
                <h2>Register</h2>
                <form action="/auth/register" method="POST">
                    {{#if message}}
                    <div class="alert">
                        <div>
                            {{message}}{{{content}}}
                        </div>
                        <div class="close-alert">
                            x
                        </div>
                    </div>
                    {{/if}}
                    <input type="text" name="name" class="form-control" placeholder="Enter name" required>
                    <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                    <input type="password" name="password" class="form-control" placeholder="Enter password" required>
                    <input type="password" name="passwordConfirm" class="form-control" placeholder="Confirm password"
                        required>
                    {{!-- <div class="form-control checkbox">
                        <input type="checkbox" name="remember" id="remember">
                        <label for="remember">Remember me</label>
                    </div> --}}
                    <input type="submit" class="btn btn-submit form-control" value="REGISTER">
                </form>
            </div>
        </div>

    </main>
    <footer>
        <p>Copyright &copy; <span></span> <a href="#" class='def-a'>Dinesh Rout</a></p>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>